{% extends 'base.html' %}
{% load i18n %}
{% load static %}


{% block base %}
    {% if view_type == 1 %}
        <div class="row">
            <div class="col">
                <div class="card text-white bg-dark mb-3 border-primary mb-3" style="width: 18rem; margin-top:20px">
                    <img src="{% static 'milk/images/supply.jpg' %}" class="card-img-top" width="100%" height="50%" object-fit="cover" loading="lazy" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{% trans "Supply" %}</h5>
                        <p class="card-text">To View and update milk supply.</p>
                        <a href="{% url 'supply_view' %}" class="btn btn-primary">{% trans "View" %}</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-danger mb-3 border-success mb-3" style="width: 18rem; margin-top:20px">
                    <img src="{% static 'milk/images/bill.png' %}" class="card-img-top" width="100%" height="50%" loading="lazy" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{% trans "Bill" %}</h5>
                        <p class="card-text">To view and generate milk Bill.</p>
                        <a href="{% url 'bill_view' %}" class="btn btn-primary">{% trans "View" %}</a>
                        <a href="{% url 'bill_generate' %}" class="btn btn-primary">{% trans "Generate" %}</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-success mb-3 border-warning mb-3" style="width: 18rem; margin-top:20px">
                    <img src="{% static 'milk/images/inr.jpg' %}" class="card-img-top" width="100%" height="50%" loading="lazy" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{% trans "Payment" %}</h5>
                        <p class="card-text">To view and make payment.</p>
                        <a href="{% url 'payment_view' %}" class="btn btn-primary">{% trans "View" %}</a>
                        <a href="{% url 'payment_pay' %}" class="btn btn-primary">{% trans "Pay" %}</a>
                    </div>
                </div>
            </div>
        </div>
    {% elif view_type == 2 %}
        <div class = "container">
            <div style="text-align:left; margin-top:20px">
                <form action="{% url 'supply_view' %}" method="post">
                    {% csrf_token %}
                    {{ date_selector }}
                    <button type="submit" class="btn btn-primary btn-sm">
                        Search Records
                    </button>
                </form>
            </div>
            <a href="{% url 'supply_add' %}" class="btn btn-primary">{% trans "Add Supply" %}</a>
            <table class="table-responsive-sm table-sm table-dark table-striped table-bordered table-hover" style="margin-top: 5px">
                <caption> {% trans "Milk Supply" %} </caption>
                <thead class="thead-dark">
                    <tr class="bg-primary">
                        <th scope="col">#</th>
                        <th scope="col">{% trans 'Supplier'%}</th>
                        <th scope="col">{% trans 'Date'%}</th>
                        <th scope="col">{% trans 'Quantity'%}</th>
                        <th scope="col">{% trans 'Remark'%}</th>
                    </tr>
                </thead>
                {% for service in supply_view %}
                    <tbody class="table-striped">
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ service.supplier }}</td>
                            <td>{{ service.date }}</td>
                            <td>{{ service.quantity }}</td>
                            <td>{{ service.remark }}</td>
                            <td>
                                <a href="{% url 'supply_update' service.id %}" class="btn btn-primary">{% trans "Edit" %}</a>
                            </td>                            
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    {% elif view_type == 3 %}
        <div style="text-align:left; margin-top:20px">
            <form action="{% url 'supply_update' %}" method="post">
                {% csrf_token %}
                {{ supply_update }}
                <button type="submit" class="btn btn-primary btn-sm">
                    Update
                </button>
            </form>
        </div>
    {% elif view_type == 4 %}
        <div class = "container">
            <table class="table-responsive-sm table-sm table-dark table-striped table-bordered table-hover" style="margin-top: 5px">
                <caption> {% trans "Milk Bill" %} </caption>
                <thead class="thead-dark">
                    <tr class="bg-primary">
                        <th scope="col">#</th>
                        <th scope="col">{% trans 'Supplier'%}</th>
                        <th scope="col">{% trans 'Start Date'%}</th>
                        <th scope="col">{% trans 'End Date'%}</th>
                        <th scope="col">{% trans 'Amount'%}</th>
                    </tr>
                </thead>
                {% for bill in bill_view %}
                    <tbody>
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ bill.supplier }}</td>
                            <td>{{ bill.start_date }}</td>
                            <td>{{ bill.end_date }}</td>
                            <td>{{ bill.amount }}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    {% elif view_type == 5 %}
        <div style="text-align:left; margin-top:20px">
            <form action="{% url 'bill_generate' %}" method="post">
                {% csrf_token %}
                {{ bill_generate }}
                <button type="submit" class="btn btn-primary btn-sm">
                    Generate Bill
                </button>
            </form>
        </div>
    {% elif view_type == 6 %}
        <div class = "container">
            <div style="text-align:left; margin-top:20px">
                <form action="{% url 'payment_view' %}" method="post">
                    {% csrf_token %}
                    {{ date_selector }}
                    <button type="submit" class="btn btn-primary btn-sm">
                        Search Records
                    </button>
                </form>
            </div>
            <table class="table-responsive-sm table-sm table-dark table-striped table-bordered table-hover" style="margin-top: 5px">
                <caption> {% trans "Payment View" %} </caption>
                <thead class="thead-dark">
                    <tr class="bg-primary">
                        <th scope="col">#</th>
                        <th scope="col">{% trans 'Supplier'%}</th>
                        <th scope="col">{% trans 'Amount'%}</th>
                        <th scope="col">{% trans 'Payment Date'%}</th>
                        <th scope="col">{% trans 'Remaining Amount'%}</th>
                        <th scope="col">{% trans 'Remaks'%}</th>
                    </tr>
                </thead>
                {% for payment in payment_view %}
                    <tbody>
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ payment.supplier }}</td>
                            <td>{{ payment.amount }}</td>
                            <td>{{ payment.payment_date }}</td>
                            <td>{{ payment.remaining_amt }}</td>
                            <td>{{ payment.remark }}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}

