{% extends 'base.html' %}
<!doctype html>
<html lang="en">
  <head>
    <title>Contact Us</title>
  </head>
  <body>
    {% block base %}
    <form action="/contact/" method = "post">
      {% csrf_token %}
      {% for field in contact %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
      {% endfor %}
      <input type="submit" value="Submit">
    </form>
    {% endblock base %}
</body>
</html>