{% extends 'base.html' %}

{% block base %}
    <div class = "container">
        <table class="table-responsive-sm table-sm table-light table-striped table-bordered table-hover" style="margin-top: 30px">
            <caption> Kiraya Soochi </caption>
            <thead class="thead-dark">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Kirayedaar</th>
                <th scope="col">Kiraya Mahina</th>
                <th scope="col">Kiraya Dinaank</th>
                <th scope="col">Kiraya</th>
                <th scope="col">Tippanni</th>
                </tr>
            </thead>
            {% for r in rent %}
                <tbody>
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ r.occupency }}</td>
                        <td>{{ r.rent_month }}</td>
                        <td>{{ r.payment_date }}</td>
                        <td>{{ r.amount }}</td>
                        <td>{{ r.remarks }}</td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}
