{% extends 'base.html' %}
{% load i18n %}

{% block base %}
    <div class = "container">
        <table class="table-responsive-sm table-sm table-light table-striped table-bordered table-hover" style="margin-top: 30px">
            <caption> {% trans "Rent List" %} </caption>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{% trans 'Occupency'%}</th>
                    <th scope="col">{% trans 'Rent Month'%}</th>
                    <th scope="col">{% trans 'Payment Date'%}</th>
                    <th scope="col">{% trans 'Amount'%}</th>
                    <th scope="col">{% trans 'Remark'%}</th>
                </tr>
            </thead>
            {% for r in rent %}
                <tbody>
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ r.occupency }}</td>
                        <td>{{ r.rent_month }}</td>
                        <td>{{ r.payment_date }}</td>
                        <td>{{ r.amount }}</td>
                        <td>{{ r.remark }}</td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}
