{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block accounts %}
    <div class="content-section container-sm p-3 my-5 bg-dark text-white" style="width:500px">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    {% trans "Password Request" %}
                </legend>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info">{% trans "Reset Password" %}</button>
            </div>
        </form>
    </div>
{% endblock accounts %}

{% block messages %}
    {% include "messages.html" %}
{% endblock messages %}

