{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block accounts %}
    <div class="content-section container-sm p-3 my-5 bg-dark text-white" style="width:500px">
        <form action="{% url 'nsuserauthentication:register' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ user_creation_form | crispy }}
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info">{% trans "Sign Up" %}</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                {% trans "Already have an account?" %}
                <a href="{% url 'nsuserauthentication:login' %}" class ="ml-2">{% trans "Sign In" %}</a>
            </small>
        </div>
    </div>
{% endblock accounts %}

{% block messages %}
    {% include "messages.html" %}
{% endblock messages %}

