{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>{% trans "Home Work" %}</title>
  </head>
  <body>
    <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">       
                    <a class="navbar-brand" href="#">
                        <img src="{% static 'home/images/dilip.jpg' %}" width="50" height="50" alt="" loading="lazy">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'home' %}"> {% trans "Home" %} <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% trans "Milk" %}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item nav-link" href="{% url 'supply' %}">{% trans "Supply" %}</a>
                                <a class="dropdown-item nav-link" href="{% url 'bill' %}">{% trans "Bill" %}</a>
                                <a class="dropdown-item nav-link" href="{% url 'payment' %}">{% trans "Payment" %}</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">{% trans "Others" %}</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'tenancy' %}">{% trans "Tenancy" %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">{% trans "Money" %}</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% trans "Connections" %}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">{% trans "Water" %}</a>
                                <a class="dropdown-item" href="#">{% trans "Electricity" %}</a>
                                <a class="dropdown-item" href="#">{% trans "Gas" %}</a>
                                <a class="dropdown-item" href="#">{% trans "Tata Sky" %}</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">{% trans "Others" %}</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{% trans "Disabled" %}</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="btn btn-primary btn-sm" href="{% url 'contact' %}">
                                Contact Us
                            </a>
                        </li>
                    </ul>
                    <div class="btn-header">
                        <form action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}" />
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <button type="submit" name="language" value="{{ language.code }}"
                                        class="btn btn-primary btn-sm">
                                        {{ language.name_translated }} ({{ language.code }})
                                    </button>
                                {% endfor %}
                        </form>
                    </div>
            </nav>
    </div>

    {% block base %}
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>